<?xml version="1.0"?>
<!-- Revolute-Revolute Manipulator -->
<!--
Copied and modified from ROS2 example -
https://github.com/ros-controls/ros2_control_demos/blob/master/example_1/description/urdf/rrbot.urdf.xacro
-->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robot_3r">
  <xacro:arg name="prefix" default="" />

  <!-- Import RRBot macro -->
  <xacro:include filename="$(find robot_3r_description)/urdf/robot_3r_macro.urdf.xacro" />

  <!-- Import Rviz colors -->
  <xacro:include filename="$(find robot_3r_description)/urdf/robot_3r.materials.xacro" />

  <!-- Import RRBot ros2_control description -->
  <xacro:include filename="$(find robot_3r_description)/urdf/robot_3r.ros2_control.xacro" />

  <!-- Used for fixing robot -->
  <link name="world"/>

  <xacro:robot_3r parent="world" prefix="$(arg prefix)">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:robot_3r>

  <xacro:threedofbot_fake_hardware />

  <gazebo> 
    <plugin 
    filename="libgz_ros2_control-system.so" 
    name="gz_ros2_control::GazeboSimROS2ControlPlugin"> 
    <parameters>
    $(find robot_3r_description)/config/controllers.yaml
    </parameters> 
    </plugin> 
  </gazebo>

  <gazebo reference="base_link">
    <self_collide>true</self_collide>
  </gazebo>

  <gazebo reference="link1">
    <self_collide>true</self_collide>
  </gazebo>

  <gazebo reference="link2">
    <self_collide>true</self_collide>
  </gazebo>

  <gazebo reference="link3">
    <self_collide>true</self_collide>
  </gazebo>

</robot>